body {
  color: #333333;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}
/* ----------------------------------------------------- navbar CSS */
nav {
  border-bottom: 3px solid grey;
}
nav>ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 10rem;
  overflow: auto;
}
header>h1 {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.nav-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid lightgrey;
}
.first-nav-link {
  border-top: 1px solid lightgrey;
}
/* ----------------------------------------------------- main CSS */
main {
  padding: 1rem;
}
code {
  padding:0.25rem;
  color: white;
  background-color: #4d4d4d;
}
p>code {
  color: #ff66ff;
}
h2 {
  padding: 2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th:first-child, td:first-child {
  text-align: left;
}
th, td {
  border: 1px solid grey;
  padding: 0.5rem;
  text-align: center;
}
.media_types_table_column {
  text-align: left;
}
td {
  background-color: #f2f2f2;
}
img {
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* ---------------------------------------------------------------------------------------------------- For screens wider than 1280px */
@media only screen and (min-width: 1280px) {
  nav {
    border-bottom: none;
    position: fixed;
  }
  nav>ul {
    height: 100%;
  }
  main {
    margin-left: 20.5rem;
    border-left: 3px solid grey;
  }
}