body {
  color: #333333;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}
/* ----------------------------------------------------- navbar CSS */
/* css to fix the header to the top of the page, reset list styling and hide the dropdown menu as the default state */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  overflow: auto;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #333333;
}
.nav-link {
  border-bottom: 1px solid lightgrey;
}
.first-nav-link {
  border-top: 1px solid lightgrey;
}
.header li a:hover {
  background-color: #e6e6e6;
}
.header .logo {
  font-size:0.8em;
  display: block;
  float: left;
  margin-left: 1rem;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon for the dropdown */ 
.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 32px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu animations when the checkbox is clicked */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ----------------------------------------------------- main CSS */
main {
  padding: 1rem;
  margin-top: 3.16em;
}
code {
  padding:0.25rem;
  color: white;
}
p>code {
  color: #ff66ff;
  background-color: #4d4d4d;
}
.example_container {
  background-color: #e6e6e6;
  padding: 1rem;
}
.example_container>p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.example_code_container {
  background-color: #4d4d4d;
  padding: 1rem;
  border-left: 4px solid #0088cc;
}
.media_span {
  color: #ff66ff;
}
.madiatype_span {
  color: #ffb366;
}
.expressions_span {
  color: #99d6ff;
}
.green_code_span {
  color: #b3ffb3;
}
.grey_code_span {
  color: #bfbfbf;
}
.blue_code_span {
  color: #0088cc;
}
h2 {
  padding: 2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th:first-child, td:first-child {
  text-align: left;
}
th, td {
  border: 1px solid grey;
  padding: 0.5rem;
  text-align: center;
}
.media_types_table_column {
  text-align: left;
}
td {
  background-color: #f2f2f2;
}
img {
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.reference_link:link {
  text-decoration: underline;
  color: black;
}
.reference_link:visited {
  text-decoration: underline;
  color: black;
}
.reference_link:hover {
  text-decoration: none;
  color: #333333;
}
/* ---------------------------------------------------------------------------------------------------- For screens wider than 1280px */
@media (min-width: 1280px) {
  .header {
    height: 100%;
    width: 22rem;
  }
  .header .logo {
    float: none;
    text-align: center;
  }
  .header li {
    margin: 0px;
    width: 22rem;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  main {
    margin-top: 0px;
    margin-left: 22rem;
    border-left: 3px solid grey;
  }
}