body {
  color: #333333;
  font-size: 1.2em;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}
/* ----------------------------------------------------- navbar CSS */
nav {
  border-bottom: 3px solid grey;
}
/* ----------------------------------------------------- navbar burger style manu CSS */
nav .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
nav .menu-icon .navicon:before, nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
nav .menu-icon .navicon:before {
  top: 5px;
}
nav .menu-icon .navicon:after {
  top: -5px;
}
nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ nav {
  max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
nav .menu-btn {
  display: none;
}
nav>ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 10rem;
  overflow: auto;
}
nav>ul>li:hover {
  background-color: #e6e6e6;
}
header>h1 {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.nav-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid lightgrey;
}
.first-nav-link {
  border-top: 1px solid lightgrey;
}
/* ----------------------------------------------------- main CSS */
main {
  padding: 1rem;
}
code {
  padding:0.25rem;
  color: white;
}
p>code {
  color: #ff66ff;
  background-color: #4d4d4d;
}
.example_container {
  background-color: #e6e6e6;
  padding: 1rem;
}
.example_container>p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.example_code_container {
  background-color: #4d4d4d;
  padding: 1rem;
  border-left: 4px solid #0088cc;
}
.media_span {
  color: #ff66ff;
}
.madiatype_span {
  color: #ffb366;
}
.expressions_span {
  color: #99d6ff;
}
.green_code_span {
  color: #b3ffb3;
}
.grey_code_span {
  color: #bfbfbf;
}
.blue_code_span {
  color: #0088cc;
}
h2 {
  padding: 2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th:first-child, td:first-child {
  text-align: left;
}
th, td {
  border: 1px solid grey;
  padding: 0.5rem;
  text-align: center;
}
.media_types_table_column {
  text-align: left;
}
td {
  background-color: #f2f2f2;
}
img {
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.reference_link:link {
  text-decoration: underline;
  color: black;
}
.reference_link:visited {
  text-decoration: underline;
  color: black;
}
.reference_link:hover {
  text-decoration: none;
  color: #333333;
}
/* ---------------------------------------------------------------------------------------------------- For screens wider than 1280px */
@media only screen and (min-width: 1280px) {
  nav {
    border-bottom: none;
    position: fixed;
  }
  nav>ul {
    height: 100%;
  }
  main {
    margin-left: 20.5rem;
    border-left: 3px solid grey;
  }
}